<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
<!-- *****Structure Properly -->
    <h1>Welcome to Handyman.ng</h1>

    <button type="button" name="button">Sign In</button>

  </body>
</html>
