<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hire Plumbers</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">

  </head>
  <body>
    <h1 class="title">HandyMan</h1>
    <div id="homepage">
      <h1>Hire a plumber near you!!</h1>
      <div id="plumbers">
        <form id="search" onSubmit={this.handleSubmit}>
            <label>Enter your latitude:</label>
            <input type="text" name="lat" placeholder="longitude" required/>
            <label>Enter your longitude:</label>
            <input type="text" name="lng" placeholder="latitude" required/>
            <input type="submit" value="Find Carpenters"/>
          </form>
      </div>
      <ul id="list"></ul>
      <div id="map"></div>
    </div>
    <script src="/assets/jquery.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcSf2fVa3an-Ulxr-wWTeXPCtVkoq4Ffo&callback=initMap">
    </script>
    <script src="/assets/script.js"></script>
    <script src="/assets/maps.js"></script>
  </body>
</html>
