<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HandyMan</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="/login">Login</a></li> -->
            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      <form role="form" class="techform">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" required>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="phone">Phone Number</label>
                <div class="input-group input-group-lg mb-3">
                
                <div class="input-group-addon">
                  <span class="input-group-text" id="basic-addon1">+234</span>
                </div>
                <input type="text" name="phone" id="phone" minlength="10" maxlength="10" aria-label="+234" class="form-control" aria-describedby="basic-addon1" required>
              </div>
              </div>
              

              <div class="form-group">
                <label for="select-field">Select Field of Expertise</label>
                <select class="form-control" id="select-field" required>
                  <option default></option>
                  <option >Electrician</option>
                  <option >Carpenter</option>
                  <option >Plumber</option>
                  <option >Painter</option>
                  <option >Ac_Technician</option>
                  <option >Generator_Technician</option>
                  <option >Gardener</option>
                </select>
              </div>

              <div class="form-group">
                <input class="form-control" id="userlat" type="hidden" name="lat" value=""  required>
              </div>
              <div class="form-group">
                <input class="form-control" id="userlong" type="hidden" name="lng" value=""  required>
              </div>

              <div class="form-group">
                <label for="address">Work Address</label>
                <input class="form-control" id="address" name="address" type="text" required>
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label for="password_confirmation">Confirm Password</label>
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" required>
                  </div>
                </div>
              </div>

              <input type="submit" value="Register" class="btn btn-info btn-block">

      </form>
    </div>


    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyB8UrEU6mB12NbY4zUv3T2Jevh6xTMg0h4"></script>
    <script src="/assets/js/signupscript.js"></script>
  </body>
</html>
