<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hire</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">



  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HANDYMAN <small>BETA</small></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup">Register As Technician</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container-fluid">
      <h1 class="title">HandyMan</h1>
      <div class="row">
        <div id="homepage">
          <h1>Hire a Technician near you</h1>
          <div id="plumbers">
            <form class="needs-validation" id="search">

                <div class="form-group">
                  <label for="select-technician">Select Technician:</label>
                  <select class="form-control form-control-lg" id="select-technician" required>
                    <option >Electrician</option>
                    <option >Carpenter</option>
                    <option >Plumber</option>
                    <option >Painter</option>
                    <option >Ac_Technician</option>
                    <option >Generator_Technician</option>
                    <option >Gardener</option>
                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control" id="userlat" type="hidden" name="lat" value=""  >
                </div>
                <div class="form-group">
                  <input class="form-control" id="userlong" type="hidden" name="lng" value=""  >
                </div>
                <div class="form-group">
                  <label for="address">Your Address:</label>
                  <input class="form-control" id="address" name="address" type="text" required>
                </div>
                
                <button type="submit" id="search-btn" class="submit-btn">Search</button>
              </form>
          </div>
          <ul id="list"></ul>
          <div id="map"></div>
        </div>
      </div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyB8UrEU6mB12NbY4zUv3T2Jevh6xTMg0h4"></script>
    <script src="/assets/js/techscript.js"></script>
  </body>
</html>
