body{
    font-family: Raleway, sans-serif;
    color: #fff;
    background: #51c4ff;
}
#homepage{
    max-width: 800px;
    margin: 60px auto;
    padding: 10px 20px;
    background: #fdfdfd;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
#homepage h1 {
  color: #555;
}
/* input[type="text"]{
    display: block;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
} */
label{
    font-weight: bold;
    color: #555;
}
.title{
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
h1{
    text-align: center;
}
/* form{
    max-width: 350px;
    margin: 30px auto;
} */
.submit-btn{
    background: #555;
     color: #fff;
     border: 0;
     padding: 10px;
     font-size: 18px;
     width: 200px;
     margin: 0 auto;
     display: block;
     cursor: pointer;
     border-radius: 4px;
 }
#list{
    margin: 0;
    padding: 0;
}
#list li{
    padding: 15px 0;
    background: #eee;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
}
li span{
    display: inline-block;
    margin: 0 20px;
    color: #555;
    font-size: 20px;
    font-weight: bold;
}

.jumbotron {
  background: #636160;
}

.btn-info {
    background: #555;
    padding: 10px;
    font-size: 18px;
}

.my-btn {
  padding: 10px
}

.buttons {
  margin-top: 80px;
}

.techform {
    font-size: large;
}

@media (max-width: 575px) { 
    .techform {
        font-weight: 300;
        max-width: 360px;
        margin-left: 42px;
    }
}